.cursor/

backend-keluhan/vendor/
backend-keluhan/.env
backend-keluhan/storage/logs/
backend-keluhan/storage/framework/cache/
backend-keluhan/storage/framework/sessions/
backend-keluhan/storage/framework/views/
backend-keluhan/bootstrap/cache/

Android/.dart_tool/
Android/build/
Android/.flutter-plugins
Android/.flutter-plugins-dependencies
Android/android/.gradle/
Android/android/app/build/

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db